<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p style="color: black;">Hola {{nombre}}, asi que se apellida {{apellido}}</p>
    <h2>Notas:</h2>
    {% for n in notas %}
        {% if n <= 4 %}
            <p style="color: red;">Reprobado: {{n}}</p>
        {% else %}
            <p style="color: green;">Aprobado: {{n}}</p>
        {% endif %}
    {% endfor %}
</body>
</html>