<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscar Items</title>
</head>
<body>

    {% for u in usuario %}
        <li>{{u}}</li>
        <button>
            <a href={% url 'EliminarUsuario' u.nombre %}>Eliminar</a>
            <a href={% url 'EditarUsuario' u.nombre %}>Editar</a>
        </button>

    {% endfor %}

</body>
</html>